/* Furniture Area css
============================================================================================ */
.furniture_area{
	background: #f9f9ff;
}
.furniture_inner{
	margin-bottom: -30px;
}
.furniture_item{
	margin-bottom: 30px;
	img{
		border-radius: 5px;
	}
	h4{
		font-size: 18px;
		text-transform: uppercase;
		font-family: $hee;
		font-weight: bold;
		color: $dip;
		margin-top: 25px;
		margin-bottom: 12px;
		@include transition;
	}
	p{
		margin-bottom: 0px;
	}
	&:hover{
		h4{
			color: $baseColor;
		}
	}
}
/* End Furniture Area css
============================================================================================ */

/* Feature Area css
============================================================================================ */
.feature_area{
}
.feature_inner{
	margin-bottom: -30px;
}
.feature_item{
	background: #f9f9ff;
	border-radius: 10px;
	padding: 40px 60px 40px 40px;
	margin-bottom: 30px;
	@include transition;
	h4{
		font-size: 18px;
		color: $dip;
		margin-bottom: 20px;
		text-transform: uppercase;
		@include transition;
		position: relative;
		padding-left: 35px;
		i{
			font-size: 24px;
			padding-right: 15px;
			font-weight: 600;
			position: absolute;
			left: 0px;
			top: 40%;
			transform: translateY(-50%);
		}
	}
	p{
		margin-bottom: 0px;
	}
	&:hover{
		background: #fff;
		box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
		h4{
			color: $baseColor;
		}
	}
}
/* End Feature Area css
============================================================================================ */

/* Looking Area css
============================================================================================ */
.impress_area{
	background: url(../img/notify-bg.jpg) no-repeat scroll center center;
	background-size: cover;
	.impress_inner{
		color: #fff;
		h2{
			text-transform: uppercase;
			font-size: 36px;
			margin-bottom: 15px;
		}
		p{
			max-width: 530px;
			margin: 0px auto 35px;
		}
	}
}
/* End Looking Area css
============================================================================================ */

/* About Area css
============================================================================================ */
.about_area{
	.about_inner{
		.col-lg-6{
			vertical-align: middle;
			align-self: center;
		}
		.about_left_text{
			h6{
				font-size: 12px;
				text-transform: uppercase;
				color: #c6b069;
				font-family: $rob;
				letter-spacing: 1.2px;
				margin-bottom: 20px;
			}
			h3{
				font-size: 36px;
				line-height: 45px;
				color: $dip;
				text-transform: uppercase;
				margin-bottom: 25px;
			}
			h5{
				font-size: 16px;
				font-family: $rob;
				color: $dip;
				margin-bottom: 10px;
			}
			p{
				margin-bottom: 0px;
			}
			.main_btn{
				margin-top: 40px;
			}
		}
	}
}
/* End About Area css
============================================================================================ */