/* Home Banner Area css
============================================================================================ */
.home_banner_area{
	z-index: 1;
	background: url(../img/banner/home-banner.jpg) no-repeat scroll center center;
	background-size: cover;
	.banner_inner{
		width: 100%;
		.col-lg-8{
			vertical-align: middle;
			align-self: center;
		}
		.banner_content{
			text-align: left;
			color: #fff;
			h2{
				margin-top: 0px;
				font-size: 36px;
				font-weight: bold;
				font-family: $hee;
				line-height: 47px;
				margin-bottom: 20px;
				text-transform: uppercase;
			}
			p{
				color: #fff;
				font-family: $rob;
				margin-bottom: 35px;
				max-width: 555px;
			}
			.banner_map_img{
				text-align: right;
			}
			.banner_btn{
				margin-right: 0px;
			}
		}
	}	
	.home_right_box{
		background: rgba(255, 255, 255, .10);
		padding: 30px;
		display: flex;
		flex-wrap: wrap;
		margin-top: 210px;
		margin-bottom: 210px;
		border: 1px solid rgba(255, 255, 255, .1);
		border-radius: 10px;
		.home_item{
			flex: 0 0 50%;
			max-width: 50%;
			text-align: center;
			line-height: 150px;
			border-bottom: 1px solid rgba(255, 255, 255, .1);
			@include transition;
			i{
				font-size: 40px;
				&:before{
					font-size: 40px;
					color: #fff;
					margin-left: 0px;
				}
			}
			&:nth-child(odd){
				border-right: 1px solid rgba(255, 255, 255, .1);
			}
			&:nth-child(5){
				border-bottom: 0px;
			}
			&:last-child{
				border-bottom: 0px;
			}
			&:hover{
				background: $baseColor;
			}
		}
	}	
}

.blog_banner{
	min-height: 780px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin-bottom: 0px;
	.banner_inner{
		background: #04091e;
		position: relative; 
		overflow: hidden;
		width: 100%;
		min-height: 780px;
		z-index: 1;
		.overlay{
			background: url(../img/banner/banner-2.jpg) no-repeat scroll center center;
			opacity: .5;
			height: 125%;
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			z-index: -1;
		}
		.blog_b_text{
			max-width: 700px;
			margin: auto;
			color: #fff;
			margin-top: 40px;
			h2{
				font-size: 60px;
				font-weight: bold;
				line-height: 66px;
				margin-bottom: 15px;
				text-transform: uppercase;
			}
			p{
				font-size: 16px;
				margin-bottom: 35px;
			}
			.white_bg_btn{
				line-height: 42px;
				padding: 0px 45px;
			}
		}
	}
}

.banner_box{
	max-width: 1620px;
	margin: auto;
}
.banner_area{
	position: relative;
	z-index: 1;
	min-height: 430px;
	.banner_inner{
		position: relative;
		overflow: hidden;
		width: 100%;
		min-height: 430px;
		background: #000;
		z-index: 1;
		.overlay{
			background: url(../img/banner/banner.jpg) no-repeat scroll center center;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 125%;
			bottom: 0;
			z-index: -1;
			opacity: .40;
		}
		.banner_content{
			margin-top: 70px;
			h2{
				color: #fff;
				font-size: 48px;
				font-family: $hee;
				margin-bottom: 0px;
				text-transform: uppercase;
				font-weight: bold;
			}
			.page_link{
				a{
					font-size: 14px;
					color: #fff;
					font-family: $rob;
					margin-right: 32px;
					position: relative;
					&:before{
						content: "\e87a";
						font-family: 'Linearicons-Free';
						font-size: 14px;
						position: absolute;
						right: -25px;
						top: 54%;
						transform: translateY(-50%);
					}
					&:last-child{
						margin-right: 0px;
						&:before{
							display: none;
						}	
					}
				}
			}
		}
	}
}

/* End Home Banner Area css
============================================================================================ */